@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/NightlifePage.css"/>
<link rel="stylesheet" href="~/css/Card.css"/>
<link rel="stylesheet" href="~/css/Carousel.css"/>



<div class="Center-Div">
    <h1 class="h1-page"><em>Ibiza -</em></h1>
    <h4><em></em></h4>
</div>
<div class="text">
    <p><strong>Come</strong> join us in a fun atmosphere with lots of entertainment! We have a concert every night, followed by great food, drinks and even games! If you’re looking for a fun night out without running out of things to do, you’ve come to the right place!</p>
    <p><strong>We</strong> offer our famous Irish Pub, Pizza Palace, and Fiesta Messa restaurants! And just right around the corner we have our Buddy Chug Bar where you can have drinks and appetizers. Alongside that we have our Axe House where you can rage all you want and aim axes at the targets, we also have our Arcade Room in there full of bowling, skee-ball, karaoke, pool tables, air hockey, basketball, tennis, and machine games!</p>
    <p><strong>Outback</strong> we have our go kart racing track and a Dream Land Roller Coaster. And finally, we have our digital VR place where you can choose to either watch a selection of movies in VR LIVE, play a selection of VR games or enjoy a relaxing VR tour around the world! You name it, we have it! Lots to offer on your fun night out!  If this package seems enticing to you, click the "<em>Contact Us!</em>" button above.</p>
</div>

<div class="carousel">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="~/Images/Nightlife/Ibiza/IbizaImage.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="~/Images/Nightlife/Ibiza/IbizaImage2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="~/Images/Nightlife/Ibiza/IbizaImage3.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>

<div class="row card-div">
    <div class="col-3 card">
      <div class="card-header">
        <strong><em>Ibiza was the best choice that I have made so far!</em></strong>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>The best vacation that I have had in a very long time!</p>
          <footer class="blockquote-footer">John Doe</footer>
        </blockquote>
      </div>
    </div>
    <div class="col-3 card">
      <div class="card-header">
        <strong><em>Ibiza was the best choice that I have made so far!</em></strong>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>The best vacation that I have had in a very long time!</p>
          <footer class="blockquote-footer">Samantha Mendes</footer>
        </blockquote>
      </div>
    </div>
    <div class="col-3 card">
      <div class="card-header">
        <strong><em>Ibiza was the best choice that I have made so far!</em></strong>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>The best vacation that I have had in a very long time!</p>
          <footer class="blockquote-footer">Aria Mendes</footer>
        </blockquote>
      </div>
    </div>
</div>