@{
    ViewData["Title"] = "Project Information";
}


<style>

    body {
    background-image: linear-gradient( white, whitesmoke, lightgray, darkgray, gray, #504f50);
}

    p{
        font-size: 30px;
        margin: 60px;
        padding: 15px;
    }
    div{
        text-align: center;
    }

    h1{
        margin: 50px;
        text-decoration: underline;
    }

    div p a{
        color: blue;
    }


</style>


<h1>@ViewData["Title"]</h1>



<div>
<p>This project is a simple full stack project that takes in user information on the front end depending on their selected options and allows them to inquery for more information through use of a "Contact Us!" button. This button brings up a modal in a partial view, which then in turns, allows the form to be submitted. As of 1/2/23, the form is planned to submit the user contact information to a business email that will be setup for the purpose of this application.</p>
</div>

<div>
    <p>
        All the respective views use the same text in the paragraphs for the ease of developing this project. The upcoming plans for this project will be to add in a quick-quote system where the customer can select different options and package plans based off of their selects options. This will then display the total, estimated cost of the trip, including hotels, flights, and rental cars for the trip.
    </p>
</div>

<div>
    <p>
        <strong><em>I do not own <u>any</u> of the images in this project!</em></strong> The images have all been sourced through <a href="https://Google.com" target="_blank">Google</a>, where each respective image was searched.
    </p>
</div>