@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/Tropical.css"/>


<div class="Center-Div">
    <h1>Welcome To Your Tropical Paradise!</h1>
</div>

<div class="card-Div">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <a asp-controller="Tropical" asp-action="Aruba"><img src="~/Images/Tropical/Aruba/ArubaImage3.jpg" class="card-img-top img-size" alt="...">
          <div class="card-body">
            <h5 class="card-title"><strong><em>Aruba</em></strong></h5>
            <p class="card-text">This tropical island calls to everyone that is seeking an island escape. From Palm trees to Coconuts, Aruba has everything that you can dream of!</p>
          </div>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <a asp-controller="Tropical" asp-action="Bahamas"><img src="~/Images/Tropical/Bahamas/BahamasImage.jpg" class="card-img-top img-size" alt="...">
          <div class="card-body">
            <h5 class="card-title"><strong><em>The Bahamas</em></strong></h5>
            <p class="card-text">This tropical island calls to everyone that is seeking an island escape. From Palm trees to Coconuts, the Bahamas has everything that you can dream of!</p>
          </div>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <a asp-controller="Tropical" asp-action="Bermuda"><img src="~/Images/Tropical/Bermuda/BermudaImage.jpg" class="card-img-top img-size" alt="...">
          <div class="card-body">
            <h5 class="card-title"><strong><em>Bermuda</em></strong></h5>
            <p class="card-text">This tropical island calls to everyone that is seeking an island escape. From Palm trees to Coconuts, Bermuda has everything that you can dream of!</p>
          </div>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <a asp-controller="Tropical" asp-action="Jamaica"><img src="~/Images/Tropical/Jamaica/JamaicaImage.jpg" class="card-img-top img-size" alt="...">
          <div class="card-body">
            <h5 class="card-title"><strong><em>Jamaica</em></strong></h5>
            <p class="card-text">This tropical island calls to everyone that is seeking an island escape. From Palm trees to Coconuts, Jamaica has everything that you can dream of!</p>
          </div>
          </a>
        </div>
      </div>
    </div>
</div>
