body {
}


.modal-title {
    font-style: oblique;
    font-size: 25px;
}

.modal-header {
    background-image: linear-gradient(#8a5cb8, #c1a9d9, whitesmoke);
}

.modal-body div input, .modal-body div select {
    border: solid black 1px;
}

.modal-body, .modal-footer {
    border-top: solid black 2px;
}

.modal-content {
    background-color: #cecece;
    border: solid black 2px;
}

.smaller-NumOfPeople-Input {
    width: 64px;
}

.modal-footer {
    display: flex;
    justify-content: center;
    align-content: center;
}

    .modal-footer button {
        width: 250px;
        margin: 15px;
        background-image: linear-gradient(#8a5cb8, #c1a9d9, whitesmoke);
        border: solid black 1px;
        color: black;
        font-size: 20px;
    }

.hide-arrows::-webkit-outer-spin-button, .hide-arrows::-webkit-inner-spin-button {
    display: none;
}

.modal-footer button:hover {
    border: solid black 2px;
    color: black;
    text-decoration: underline;
}