@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/Winter.css" />

<div class="Center-Div">
    <h1>Welcome To Your Winter Wonderland!</h1>
</div>

<div class="card-Div">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <a asp-controller="Winter" asp-action="Alaska"><img src="~/Images/Winter/Alaska/AlaskaImage.jpeg" class="card-img-top img-size" alt="...">
          <div class="card-body">
            <h5 class="card-title"><strong><em>Alaska</em></strong></h5>
            <p class="card-text">This winter wonderland has everything from Ski resorts to warm hot chocolate while looking at the northern lights. If you like to cold and are looking for your winter wonderland adventure, check Alaska out!</p>
          </div>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <a asp-controller="Winter" asp-action="Aspen"><img src="~/Images/Winter/Aspen/AspenImage.jpeg" class="card-img-top img-size" alt="...">
          <div class="card-body">
            <h5 class="card-title"><strong><em>Aspen</em></strong></h5>
            <p class="card-text">This winter wonderland has everything from Ski resorts to warm hot chocolate while looking at the northern lights. If you like to cold and are looking for your winter wonderland adventure, check Aspen out!</p>
          </div>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <a asp-controller="Winter" asp-action="Colorado"><img src="~/Images/Winter/Colorado/ColoradoImage.jpeg" class="card-img-top img-size" alt="...">
          <div class="card-body">
            <h5 class="card-title"><strong><em>Colorado</em></strong></h5>
            <p class="card-text">This winter wonderland has everything from Ski resorts to warm hot chocolate while looking at the northern lights. If you like to cold and are looking for your winter wonderland adventure, check Colorado out!</p>
          </div>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <a asp-controller="Winter" asp-action="Vermont"><img src="~/Images/Winter/Vermont/VermontImage.jpeg" class="card-img-top img-size" alt="...">
          <div class="card-body">
            <h5 class="card-title"><strong><em>Vermont</em></strong></h5>
            <p class="card-text">This winter wonderland has everything from Ski resorts to warm hot chocolate while looking at the northern lights. If you like to cold and are looking for your winter wonderland adventure, check Vermont out!</p>
          </div>
          </a>
        </div>
      </div>
    </div>
</div>